.ProductDetailPage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ProductDetailPage-back-next-button-group {
  display: flex;
  margin: 15px 0;
}

.ProductDetailPage-back-next-button-group__button {
  box-sizing: border-box;
}

.ProductDetailPage-back-next-button-group__button:first-child {
  margin-right: 5px;
}

.ProductDetailPage-back-next-button-group__button:last-child {
  margin-left: 5px;
}

.ProductDetailPage-product-image-container {
  display: flex;
  justify-content: center;
}

.ProductQuantitySelector-container {
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
}

.ProductQuantitySelector-quantity-indicator {
  display: block;
  margin: 0 15px;
  font-size: 24px;
}
