.ProductReviewPage-datetime-container {
  display: flex;
  margin-bottom: 40px;
}

.ProductReviewPage-datetime-field {
  width: 100%;
}

.ProductReviewPage-datetime-field:first-child {
  margin-right: 5px;
}

.ProductReviewPage-datetime-field:last-child {
  margin-left: 5px;
}
